<h2 class="text-center">DASHBOARD</h2>
  <div class='text-center sensor-panel'>
    <h3><%= @sensors[0].name %></h3>

    <h4>Tempurature</h4>
    <div class="temp-circle">
      <%= @sensors[0].weather_datum.last.temp %>&#8457;
    </div>
    <h4>Humidity</h4>
    <div class="temp-circle">
      <%= @sensors[0].weather_datum.last.humidity %>
    </div>
  </div>

<hr>

<% @sensors.each do |s| %>
  <div class='sensor-panel'>
    <h3><%= s.name %></h3>

    <div class="temp-circle">
      <%= s.weather_datum.last.temp %>&#8457;
    </div>
    <!-- <p>Current: <%= s.weather_datum.last.created_at.in_time_zone('Eastern Time (US & Canada)').to_formatted_s(:long) %> | <%= s.weather_datum.last.temp %> | <%= s.weather_datum.last.humidity %> | <%= s.weather_datum.last.location %></p> -->
    <div class="chart">
      <%= line_chart [{name: s.name, data: s.weather_datum.last(10).collect { |t| [t.created_at.strftime("%H:%M:%S"), t.temp] }},
                      {name: 'Max', data: s.weather_datum.last(10).collect { |t| [t.created_at.strftime("%H:%M:%S"), s.trigger_temp_max] } },
                      {name: 'Min', data: s.weather_datum.last(10).collect { |t| [t.created_at.strftime("%H:%M:%S"), s.trigger_temp_min] } }],
                      width: "85%", height: "200px",colors: ["forestgreen", "tomato", "deepskyblue"] %>
    </div>
    <p>Max: <%= s.trigger_temp_max %> / Min: <%= s.trigger_temp_min %></p>
    <p>Total: <%= s.notifications.count %> / Last: <% if s.notifications.count > 0 %> <%= s.notifications.last.created_at %> <% end %></p>
  </div>
  <% end %>
