<h2>Live Data</h2>
<p>
  <i class="fa fa-refresh"> </i> | Updated every 11 Seconds
</p>
<div>
  <ul class="list-group" id="live">
    <li class="list-group-item">Waiting for result...</li>
  </ul>
</div>
<script type="text/javascript">
  var host = "<%= @host %>";
  var url = "<%= @url %>";

  loadData();
  setInterval(function(){loadData()},11000);

  function loadData(){
    var settings = {
    "async": true,
    "crossDomain": true,
    "url": host + "/sensor/last",
    "method": "GET",
    "headers": {
      "cache-control": "no-cache"
    }}

    $.ajax(settings).done(function (response) {
      $('ul#live').empty();
      response.forEach(function(d){
        console.log(d)
        $('ul#live').append('<li class="list-group-item"><kbd>Location: ' + d.location +
                            ' | Temp: ' + d.temp +
                            ' | Humidity: '+ d.humidity +
                            ' | Date: ' + new Date(d.created_at) +  '</kbd></li>')
      })

    });

  }

</script>

<hr>
<h2>SENSOR CHARTS</h2>
<% @sensors.each do |s| %>
  <div class='sensor-panel'>
    <h3><%= s.name %></h3>

    <div class="temp-circle">
      <%= s.weather_datum.last.temp %>&#8457;
    </div>
    <!-- <p>Current: <%= s.weather_datum.last.created_at.in_time_zone('Eastern Time (US & Canada)').to_formatted_s(:long) %> | <%= s.weather_datum.last.temp %> | <%= s.weather_datum.last.humidity %> | <%= s.weather_datum.last.location %></p> -->
    <div class="chart">
      <%= line_chart [{name: s.name, data: s.weather_datum.each_slice(10).map(&:last).collect { |t| [t.created_at.strftime("%H:%M:%S"), t.temp] }},
                      {name: 'Max', data: s.weather_datum.last(10).collect { |t| [t.created_at.strftime("%H:%M:%S"), s.trigger_temp_max] } },
                      {name: 'Min', data: s.weather_datum.last(10).collect { |t| [t.created_at.strftime("%H:%M:%S"), s.trigger_temp_min] } }],
                      width: "85%", height: "200px",colors: ["forestgreen", "tomato", "deepskyblue"] %>
    </div>
    <p>Max: <%= s.trigger_temp_max %> / Min: <%= s.trigger_temp_min %></p>
    <p>Total: <%= s.notifications.count %> / Last: <% if s.notifications.count > 0 %> <%= s.notifications.last.created_at %> <% end %></p>
  </div>
  <% end %>
